/.idea/
/.installed.cfg
/.mr.developer.cfg
/.vagrant
/.venv/
/bin/
/develop-eggs/
/parts/
/resources/node_modules
/resources/.plone
/resources/.plonetheme-upload-cookie
/resources/theme
/result
/src/
/var/
/bootstrap-buildout.py
/buildout.sh
/kill_plone.sh
/plone
/plonectl.sh
/vagrant_scp.sh
