/.idea/
/.installed.cfg
/.mr.developer.cfg
/.venv/
/bin/
/develop-eggs/
/parts/
/resources/node_modules
/resources/.plone
/resources/.plonetheme-upload-cookie
/resources/theme
/result
/resources/result
/src/
/var/
/bootstrap-buildout.py
